.contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.contact-form{
    width: 30rem;
    max-width: 90%;
    margin-inline: auto;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
    border-radius: 7px;
    padding: 2rem;
}
.contact-form label{
    display: block;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    padding-bottom: .5rem;
}
.form-row{
    padding-bottom: 1rem;
}
.contact-form input{
     display: block;
     width: 100%;
     padding: .4rem;
     padding-left: .5rem;
     font-size: 1.1rem;
}
.contact-btn{
    display: block;
    padding: .5rem 2rem;
    border: 0;
    color: white;
    background-color: rgb(107, 68, 0);
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
    margin-top: .5rem;
}